.carousel-inner{
    background-color: #fceae8;
}
.panda-submit-btn{
    background-color: #3c3a36!important;
}
.btn-warning{
    background-color: #dc3545!important;
}
.category-sec img{
    width: 120px;
    height: auto;
}